.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: calc(56px / 2);
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutAvatar {
    margin: calc(56px * 2) auto calc(56px / 2);
}

.aboutTitle {
    color: var(--mantine-color-dark-4);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.aboutDesc {
    width: calc(100vw - calc(16px * 3));
    max-width: calc(960px - 16px);
    text-align: center;
    color: var(--mantine-color-dark-4);
    padding: 10px;
    border-radius: 10px;
}