:root {
    --mantine-color-body: #fff;
    --mantine-color-gray-3: #dee2e6;
    --mantine-color-dark-4: #2c2e33;
    --mantine-color-gray-7: #495057;
    --mantine-color-dark-0: #f1f3f5;
    --mantine-color-gray-0: #f8f9fa;
    --mantine-color-dark-6: #25262b;
    --mantine-color-blue-filled: #228be6;
    --mantine-color-white: #ffffff;
    --mantine-radius-sm: 4px;
    --mantine-margin-sm: 1rem;
    --mantine-font-size-sm: 14px;
    --mantine-header-bg-color: rgba(255, 255, 255, 0.8);
    --mantine-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

* {
    font-family: "Ubuntu", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--mantine-color-gray-0);
}

.spin {
    cursor: pointer;
}

.spin:hover {
    animation: spin 1s steps(30);
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}